@import '../../../common.less';

@desktop-width: 424px;

:host {
    position: absolute;

    &.desktop {
        right: -@desktop-width;
        top: 0;
        width: @desktop-width;
        height: 100%;
        box-shadow: -4px 0px 40px rgba(0, 0, 0, 0.25);
        transition: right 250ms ease-in-out;
        &.open {
            right: 0;
        }
    
        &.hidden {
            right: - @desktop-width;
        }
      
        .content {
          padding: 16px;
          
          .info .content {
              overflow-x: inherit !important;
          }
      }
    }
    &.mobile {
        bottom: - 75%;
        left: 0;    
        width: 100%;
        height: 75%;
        box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.25);
        transition: bottom 250ms ease-in-out;
        &.open {
            bottom: 0;
        }
      
        &.focused:not(.open) {
            bottom: ~'calc(70px - 75%)';
        }
      
        .value, app-moving-image {
            transition: filter 250ms;
         }

        &:not(.focused){
          .value, app-moving-image {
            filter: blur(8px);
          }
        }
      
    
        &.hidden {
            bottom: -75%;
        }
    }
    
    app-lessmore {
        position: absolute;
        width: 100%;
    }

    &.desktop {
        app-lessmore {
            width: 352px;
            border-radius: 8px;
            bottom: 16px;
            right: @desktop-width + 16px;
        }
    }
    &.mobile {
        app-lessmore {
            top: -32px;
            padding-bottom: 8px;
            border-radius: 8px 8px 0px 0px;
            transition: top 250ms ease-in-out;    
        }
        &.open {
            app-lessmore {
                top: 0;
            }
        }
    }


    .wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: @color-offwhite;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: flex-start;
    
        .handle {
            flex: 0 0 auto;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            height: 35px;
            width: 100%;
            padding: 6.5px;
        }
    
        .content {
            // height: ~'calc(73.75vh - 35px)';
            // height: ~'calc(73.75% - 110px)';
            width: 100%;
            overflow-y: scroll;
            .no-scrollbars;
        }
    }

    &.desktop {
        .wrapper {
            .handle {
                display: none;
            }
        }
    }

    &.mobile {
        .wrapper {
            border-radius: 8px 8px 0px 0px;
        }
    }
}
