@import '../../../common.less';

@desktop-width: 400px;

:host {
    position: absolute;

    &.desktop {
        right: -@desktop-width;
        top: 0;
        width: @desktop-width;
        height: 100%;
        transition: right 250ms ease-in-out;
        &.open {
            right: 0;
        }
    
        &.hidden {
            right: - @desktop-width;
        }
    }
    &.mobile {
        bottom: ~'calc(70px - 75%)';
        left: 0;    
        width: 100%;
        height: 75%;
        transition: bottom 250ms ease-in-out;
        &.open {
            bottom: 0;
        }
    
        &.hidden {
            bottom: -75%;
        }
    }
    
    .lessmore {
        position: absolute;
        width: 100%;
        height: 40px;
        background-color: @color-dark-brown;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        span {
            .font-source-sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            color: @color-offwhite;
            font-variant: small-caps;
        }
        img {
            margin: 0 8px;
        }
    }

    &.desktop {
        .lessmore {
            width: 300px;
            border-radius: 8px;
            bottom: 40px;
            right: @desktop-width + 40px;
        }
    }
    &.mobile {
        .lessmore {
            top: -32px;
            padding-bottom: 8px;
            border-radius: 8px 8px 0px 0px;
            transition: top 250ms ease-in-out;    
        }
        &.open {
            .lessmore {
                top: 0;
            }
        }
    }


    .wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: @color-offwhite;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: flex-start;
    
        .handle {
            flex: 0 0 auto;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            height: 35px;
            width: 100%;
            padding: 6.5px;
        }
    
        .content {
            // height: ~'calc(73.75vh - 35px)';
            // height: ~'calc(73.75% - 110px)';
            width: 100%;
            overflow-y: scroll;
            .no-scrollbars;
        }
    }

    &.desktop {
        .wrapper {
            .handle {
                display: none;
            }
        }
    }

    &.mobile {
        .wrapper {
            border-radius: 8px 8px 0px 0px;
        }
    }
}