<div>
    <div class='row top bottom'>
        <div class='cell'>
            <label>Normality</label>
            <span class='value'>0.37</span>
        </div>
        <div class='cell'>
            <label>Composite</label>
            <span class='value'>0.37</span>
        </div>
    </div>
    <div class='row top'>
        <div class='cell'>
            <label>Head length</label>
            <span class='value'>0.37</span>
        </div>
        <div class='cell'>
            <label>Cheek Width</label>
            <span class='value'>0.37</span>
        </div>
    </div>
    <div class='row bottom'>
        <div class='cell'>
            <label>Head Width</label>
            <span class='value'>0.37</span>
        </div>
        <div class='cell'>
            <label>R. Ear lgth.</label>
            <span class='value'>0.37</span>
        </div>
    </div>
    <div class='row top'>
        <div class='cell'>
            <label>Age</label>
            <span class='value'>0.37</span>
        </div>
        <div class='cell'>
            <label>Gender</label>
            <span class='value'>0.37</span>
        </div>
    </div>
    <div class='row bottom'>
        <div class='cell'>
            <label>Apparent Age</label>
            <span class='value'>~37</span>
        </div>
        <div class='cell'>
            <label>Apparent Gender</label>
            <span class='value'>F</span>
        </div>
    </div>
</div>
<app-moving-image [src]='imageFetcher.fetchImage(item.image)' [index]='4' [id]='item.image'></app-moving-image>
