<app-modal [submit_text]='submit_text' [cancel_text]='cancel_text' [open]='open' [submit_allowed]='true' (closed)='close($event)'>
    <ng-container *ngIf='phase === 0'>
        <img [src]='imageFetcher.fetchFaceImage(image)'/>
        <span class='header'>Are you sure you want to delete all of your data?</span>

        <span>We can’t undo this...</span>
    </ng-container>
    <ng-container *ngIf='phase === 1'>
        <img src='assets/img/empty.svg'/>
        <span class='header'>Goodbye...</span>

        <span>We will remove your data from the map within the next 24 hours.</span>
    </ng-container>
</app-modal>