<div class='texts'>
    <span [style.right]='position*1.75 + "vw"'>Swipe towards what looks</span>
    <span [style.right]='position/3 + "vw"'><strong>more normal</strong></span>
</div>
<div class='candidates' [class.forward]='direction' [class.backward]='!direction' *ngIf='candidates'>
    <ng-container *ngFor='let candidate of candidates; let i = index'>
        <div class='candidate' [style.width]='sizes[i] + "%"'>
            <app-moving-image [style.transform]='"scale(" + scales[i] + ")"' [src]='imageFetcher.fetchImage(candidate.image)' [index]='index'></app-moving-image>
        </div>    
    </ng-container>
</div>
<app-slider (location)='location = $event' (selected)='finish($event)'></app-slider>
