@import url('../../../common.less');

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: flex-start;

    .texts {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
        position: relative;
        z-index: 2;

        span {
            .font-source-sans;
            position: relative;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .candidates {
        flex: 100 1 100vw;
        display: flex;
        flex-flow: row;
        align-items: flex-end;
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin-bottom: 64px;
        overflow: clip visible;

        &.forward {
            justify-content: flex-start;
        }

        &.backward {
            justify-content: flex-end;
        }
    
        .candidate {
            display: flex;
            flex-flow: row;
            justify-content: center;
            flex: 0 0 auto;
            width: 50%;
            transition: width 100ms linear;

            app-moving-image {
                width: 100%;
                transform-origin: 0 100%;
                transition: transform 100ms linear;
            }
        }

        .spacer {
            flex: 0 0 16px;
        }
    }

    app-slider {
        margin-top: auto;
    }
}
