.font-typewriter {
    font-family: 'American Typewriter', monospace;
}
.font-source-sans {
    font-family: 'Source Sans Pro', sans-serif;
}
.font-crimson {
    font-family: 'Crimson Text', serif;
}

  /* utilities */
.no-scrollbars {
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
        display: none;
    }
}

@color-offwhite: #EAE7DF;
@color-dark-brown: #2D2C29;
@color-lead-color: #6B378F;
@color-offtint: #BFBDB6;
@color-gray-3: #828282;
@color-gray-4: #999999;
@color-red: #EB5757;