<div #map class='map'></div>
<app-feature-selector [feature]='feature' (selected)='feature = $event'></app-feature-selector>
<div class='overlay' *ngIf='overlay' (click)='overlay = false; drawerOpen = false'></div>
<app-drawer [open]='drawerOpen' [hidden]='consentModalOpen' (changed)='overlay = false; drawerOpen = $event'>
    <ng-container *ngIf='!focusedItem'>
        <div class='info'>
            <div class='content'>
                <div class='title'>Normalizi.ng</div>
                <div class='subtitle'>Discover what <em>normal</em> people look like</div>
                <div class='subsubtitle'>Explore the map of normalized faces,<br/>or simply join with your own:</div>
                <app-start-button label='start normalizi.ng' (click)='start()' *ngIf='!hasSelfie'></app-start-button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf='focusedItem'>
        <app-report-card [item]='focusedItem.item'></app-report-card>
    </ng-container>
</app-drawer>
<app-start-button label='start' (click)='start()' *ngIf='!hasSelfie'></app-start-button>
<app-consent-modal [open]='consentModalOpen' (closed)='consentModalOpen = false'></app-consent-modal>