<div #map class='map'></div>
<app-feature-selector [feature]='feature' (selected)='feature = $event' *ngIf='false'></app-feature-selector>
<div class='overlay' *ngIf='overlay' (click)='overlay = false; drawerOpen = false'></div>
<app-drawer [open]='drawerOpen' [hidden]='consentModalOpen' (changed)='overlay = false; drawerOpen = $event'>
    <ng-container *ngIf='!focusedItem'>
        <app-about-card [showStart]='!hasSelfie' (start)='start()'></app-about-card>
    </ng-container>
    <ng-container *ngIf='focusedItem'>
        <app-report-card [item]='focusedItem.item'></app-report-card>
    </ng-container>
</app-drawer>
<app-start-button label='start' [class.offseted]='layout.desktop && drawerOpen' (click)='start()' *ngIf='!hasSelfie'></app-start-button>
<img class='info-button' (click)='focusedItem=null; drawerOpen=true' src='/assets/img/info-button.svg' *ngIf='!drawerOpen || !!focusedItem'>
<app-consent-modal [open]='consentModalOpen' (closed)='consentModalOpen = false'></app-consent-modal>
<app-email-modal [open]='emailModalOpen' (closed)='emailModalOpen = false'></app-email-modal>
<app-redirect-modal [open]='redirectModalOpen' (closed)='redirectModalOpen = false'></app-redirect-modal>