@import '../../common.less';

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;

    video {
        width: 100%;
        height: auto;
        transition-property: transform transform-origin;
        transition-duration: 150ms;
        transition-timing-function: linear;

        &.no-detection {
            filter: grayscale(1);
        }
    }

    img {
        width: 640px;
    }

    // .moving-images {
    //     width: 100%;
    //     display: flex;
    //     flex-flow: row;
    //     justify-content: space-evenly;
    // }
}