<!-- <div [style.background-image]='"url(" + src + ")"' [style.background-position-x]='x + "px"' [style.background-position-y]='y + "px"'>

</div> -->
<div class='wrapper'
    [style.width]='width + "px"'
    [style.height]='height + "px"'>
    <div class='mover' [class.active]='current === 0' [style.top]='y[0] + "px"' [style.left]='x[0] + "px"'>
        <img [src]='src'>
    </div>
    <div class='mover' [class.active]='current === 1' [style.top]='y[1] + "px"' [style.left]='x[1] + "px"'>
        <img [src]='src'>
    </div>
</div>