<div class='info'>
    <div class='content'>
        <div class='title'>Normalizi.ng</div>
        <div class='subtitle'>Discover what <em>normal</em> people look like</div>
        <div class='subsubtitle'>Explore the map of normalized faces,<br/>or simply join with your own:</div>
        <app-start-button label='start normalizi.ng' (click)='start.emit()' *ngIf='showStart'></app-start-button>
        <div class='md' [innerHtml]='html'></div>
        <app-start-button label='start normalizi.ng' (click)='start.emit()' *ngIf='showStart'></app-start-button>
    </div>
</div>
