@import '../../../common.less';
@import './markdown.less';

.info {

    .content {
        padding: 24px;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        width: 100%;
        overflow-x: clip;
      
        .nav {
          .font-source-sans;
          background: @color-offwhite;
          position: absolute;
          z-index: 10;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0 8px;
          
          div {
            border-top: solid 1px @color-dark-brown;
            padding: 7px 8px 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            
            a {
              display: block;
              flex: none;
              order: 4;
              flex-grow: 0;
              
              text-decoration: none;
              color: #828282;
              text-transform: lowercase;
              font-variant: small-caps;
            }
          }
        }
        
        .title {
            .font-typewriter;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 37px;
            letter-spacing: 2px;
            color: #6B378F;
            transform: matrix(1,-.02,.02,1,-8,6);
        }
        .subtitle {
            .font-source-sans;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            font-variant: small-caps;
            text-transform: lowercase;
            line-height: 23px;
            color: #2D2C29;
          
            em {
              font-style: normal;
              font-weight: 700;
            }
        }
        .subsubtitle {
            .font-source-sans;
            font-style: normal;
            font-weight: normal;
            font-variant: none;
            text-transform: none;
            font-size: 16px;
            line-height: 20px; 
            margin-top: 40px;
        }
        app-start-button {
            margin: 0;
            margin-top: 40px;
            align-self: center;
        }
    }
}
