<div class='info'>
    <div class='content'>
        <div class='title'>Normalizi.ng</div>
        <div class='subtitle'>Discover what <em>normal</em> people look like</div>
        <div class='subsubtitle'><strong>Bias is not a bug of AI.</strong>  We constantly <em>document, classify, quantify & normalize</em> ourselves and each other online. Normalizi.ng invites you to reflect on the past and present of this normalization.
          <br/><br/>
          Starting with you:
        </div>
        <app-start-button label='start normalizi.ng' (click)='start.emit()' *ngIf='showStart'></app-start-button>
        <div class='md' [innerHtml]='html'></div>
        <app-start-button label='start normalizi.ng' (click)='start.emit()' *ngIf='showStart'></app-start-button>
    </div>
</div>
