@import '../../../common.less';

.md ::ng-deep {
    width: 100%;

    h2, h3, h4, h5, p, a, li{
        .font-source-sans;

        font-style: normal;
        color: @color-dark-brown;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 8px 0;
    }

    h2, h3, h4 {
        font-size: 16px;
        line-height: 20px;
        font-variant: small-caps;
        margin: 0;
        margin-top: 32px;
        font-weight: 600;
    }
  
    h2 {
        font-size: 18px;
        color: @color-lead-color;
    }

    h2, h3 {
        text-transform: uppercase;
    }

    h4 {
        text-transform: lowercase;
        letter-spacing: 1px;
    }

    h5 {
        color: @color-gray-3;
        margin-top: 8px;
        font-weight: 600;
    }

    a.button {
        align-self: center;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: 36px;
        border-radius: 24px;
        padding: 0 18px;
        margin: 32px;
        border: 1px solid @color-dark-brown;
        
        &, &:hover, &:visited {
            text-decoration: none;
        }
    }

    a.more {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: stretch;
        margin: 16px 0;
        
        .clickable {
            display: block;
            padding-left: 8px;
            padding-right: 24px;
            cursor: pointer;
            background-image: url(../../../assets/img/caret-down.svg);
            background-repeat: no-repeat;
            background-size: 10px 6px;
            background-position: top 8px right 8px;
        }

        .hr {
            flex: 1 1 auto;
            height: 0px;
            border-bottom: 1px solid @color-dark-brown;
        }
    }
  
    .embed {
      padding: 56.25% 0 0 0;
      position: relative;
      margin: 24px 0;
      left: -40px;
      width: calc(100% + 80px);
    }

    .gallery {
        position: relative;
        left: -40px;
        width: calc(100% + 64px);
        height: 472px;
        overflow-x: scroll;
        overflow-y: hidden;
        .no-scrollbars;
        padding: 16px 32px;
        margin: 32px 0;
        gap: 32px;

        background: #e1dfd8;
        display: flex;
        flex-flow: row;
        align-items: stretch;
        
        .gallery-item {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;
            margin: 0;
            width: 90%;
            flex: 0 0 auto;

            .img {
                flex: 1 1 auto;
                max-height: 100%;
                height: auto;
                width: 100%;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            label {
                display: block;
                flex: 0 0 auto;
                font-family: Source Serif Pro;
                font-style: italic;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                margin: 0;
                margin-top: auto;            
                padding-top: 16px;
            }
        }
    }
}
