<ng-container *ngIf='index < maxIndex && index >= 0'>
    <app-single-tournament [candidates]='candidates' [index]='index' (results)='addResults($event)'></app-single-tournament>
</ng-container>
<ng-container *ngIf='index === maxIndex'>
    <h2>Done!</h2>
</ng-container>
<ng-container *ngIf='game && game.records && loaded < game.records.length'>
    <div class='placeholder' *ngFor='let candidate of game.records'>
        <img
            [src]='imageFetcher.fetchImage(candidate.image)' (load)='loaded = loaded + 1'>
    </div>    
</ng-container>
