@import url('../../../common.less');

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: flex-start;
    background-color: @color-dark-brown;
    position: relative;

    .progress {
        width: 100%;
        padding: 12px;
        display: flex;
        flex-flow: row;
        justify-content: stretch;
        margin-bottom: 24px;

        .progress-group {
            flex: 1 1 auto;
            
            display: flex;
            flex-flow: row;
            justify-content: stretch;
            padding: 0 3px;
            
            .progress-item {
                flex: 1 1 auto;
                margin: 1px;
                background: #404040;
                height: 2px;

                &.done {
                    background: #FFFFFF;
                }
            }
        }
    }

    h2 {
        .font-source-sans;
        text-align: center;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }
}